---
- name: Install the latest version of wget, jq and golang
  ansible.builtin.dnf:
    name:
      - wget
      - jq
      - golang
    state: latest

- name: Download the yq tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://github.com/mikefarah/yq/releases/download/v4.44.3/yq_linux_amd64
    - sudo mv yq_linux_amd64 /usr/bin/yq
    - chmod +x /usr/bin/yq

- name: Download the omc tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://github.com/gmeghnag/omc/releases/download/v3.7.4/omc_Linux_x86_64
    - sudo mv omc_Linux_x86_64 /usr/bin/omc
    - chmod +x /usr/bin/omc

- name: Download the koff tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://github.com/gmeghnag/koff/releases/download/v1.0.1/koff_Linux_x86_64
    - sudo mv koff_Linux_x86_64 /usr/bin/koff
    - chmod +x /usr/bin/koff

- name: Download the oc tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.17.3/openshift-client-linux.tar.gz
    - tar zxvf openshift-client-linux.tar.gz oc
    - sudo mv oc /usr/bin/oc
    - chmod +x /usr/bin/oc

- name: Download the kubectl-dev tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - go install github.com/openshift/cluster-debug-tools/cmd/kubectl-dev_tool@90f6a55f6ddd7671db15eb82df000e57182e86ba
    - sudo cp ~/go/bin/kubectl-dev_tool /usr/bin/kubectl-dev_tool
    - chmod +x /usr/bin/kubectl-dev_tool

- name: Download the gron tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://github.com/tomnomnom/gron/releases/download/v0.7.1/gron-linux-amd64-0.7.1.tgz
    - tar zxvf gron-linux-amd64-0.7.1.tgz
    - sudo mv gron /usr/bin/gron
    - chmod +x /usr/bin/gron

- name: Download the etcd-ocp-diag.py tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://raw.githubusercontent.com/cptmorgan-rh/etcd-ocp-diag-script/refs/heads/python/etcd-ocp-diag.py
    - sudo mv etcd-ocp-diag.py /usr/bin/etcd-ocp-diag.py
    - chmod +x /usr/bin/etcd-ocp-diag.py

- name: Download the ocp-insights tool
  ansible.builtin.command: "{{ item }}"
  loop:
    - wget https://raw.githubusercontent.com/cptmorgan-rh/ocp_insights/refs/heads/insightsarchive/ocp_insights.sh
    - sudo mv ocp_insights.sh /usr/bin/ocp_insights.sh
    - chmod +x /usr/bin/ocp_insights.sh
- name: Unarchive module 2
  ansible.builtin.unarchive:
    src: /home/lab-user/Module2/module2-demo-must-gather.tgz
    dest: /home/lab-user/Module2
    remote_src: yes

